# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
appnope
backcall
bleach
cycler
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandas-profiling
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
python-dotenv>=0.5.1
{% if cookiecutter.python_interpreter != 'python3' %}

# backwards compatibility
pathlib2
{% endif %}